<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>Exibição e privacidade</ion-list-header>
    <ion-item>
      <ion-label>Exibir badges</ion-label>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Exibir desempenho</ion-label>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Exibir publicações</ion-label>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    </ion-item> 
  </ion-list>

  <ion-list-header>Editar dados pessoais</ion-list-header>
      
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Primeiro nome</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Último nome</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

       
      <ion-list-header>Possui uma conta Safra?</ion-list-header>
      
   
    <ion-item lines="full">
      <ion-label position="floating">Conta Safra</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Agência Safra</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block">Atualizar dados</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
