<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Rateios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">  
  <ion-list-header>Rateios de despesas</ion-list-header>

  <ion-card *ngFor='let rateio of rateios' [routerLink]="['/shared-expenses']">    
    <ion-chip>
      <ion-avatar>
        <ion-img [src]="rateio.foto"></ion-img>
      </ion-avatar>
      <ion-label>{{ rateio.nome }}</ion-label>
    </ion-chip>

    <ion-card-content>
      <ion-text> Início: {{ rateio.inicio }}</ion-text>
      <ion-text> Situação: {{ rateio.situacao }}</ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
