<ion-toolbar color="tertiary">
  <ion-buttons slot="start">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button>
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Safra Connect</ion-title>
</ion-toolbar>

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="news">
      <ion-icon name="newspaper-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="connections">
      <ion-icon name="people-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="finances">
      <ion-icon name="cash-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="sharedexpenses">
      <ion-icon name="pie-chart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
