<!-- <ion-content class="auth-form">
  <ion-grid>
    <ion-row>
        <ion-col align-self-center>

        <ion-img src="./assets/Logo/Safra1b.png"></ion-img>

        <ion-button [routerLink]="['/sign']" expand="block" color="primary">Criar Conta</ion-button>
      
        <span class="divider line one-line">ou</span>

        <span class="already">Já tem uma conta?</span>

        <ion-button [routerLink]="['/login']" expand="block" color="primary">Acessar Connect</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->

<ion-content>
  <ion-img src="./assets/Logo/Safra1b.png"></ion-img>

<div class="auth-form">    
  <div>
    <ion-button [routerLink]="['/login']" expand="block" color="primary">Acessar</ion-button>  
    <ion-button [routerLink]="['/sign']" expand="block" color="primary">Criar Conta</ion-button>
  </div>

</div>
</ion-content>