<ion-header>
  <ion-toolbar>
    <ion-title>
      Safra Connect
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <span class="come">Venha se conectar!</span>
        
        <ion-img src="./assets/Safra1b.png"></ion-img>

        <ion-button [routerLink]="['/sign']" expand="block" color="secondary">Crir Conta</ion-button>

        <span class="divider line one-line">ou</span>

        <span class="already">Já tem uma conta?</span>

        <ion-button [routerLink]="['/login']" expand="block" color="medium">Acessar Connect</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>