<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil de Amigo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar class="avatar">
    <img src="./assets/friend.png">
  </ion-avatar>
  <div class="user">
    
    <h1 class="name">Léo</h1>
    <h2 class="name">Antenado nas novidades $.$ </h2>
  </div>

  <div >
    <h1 class="name">Amigos</h1>
    <ion-avatar class="avatar">
      <img src="./assets/user_prof.png">
    </ion-avatar>
    <div class="body">
    
    <h2 class="name"> Sofia</h2>
  </div>
  </div>
</ion-content>