.content{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    padding:5em 1em 10em 1em;
}

ion-content {
    --background: #ffff00 url('../../assets/Fundo/Safra11.png') no-repeat right bottom / cover !important;
}