<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Venha ser parte desta família!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="content">
    <div >
      
      <h3 >Primeiro acesso?</h3>
      
    </div>
    <form>
      <ion-item lines="full">
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label position="floating">Sobrenome</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>
  
      <div >
      
        <h3 >Possui uma conta Safra?</h3>
        
      </div>
  
      <ion-item lines="full">
        <ion-label position="floating">Conta Safra</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Agência Safra</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" expand="block">Registrar</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
