<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Conexões
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list-header>Minhas conexões</ion-list-header>

  <ion-card *ngFor='let conexao of conexoes' [routerLink]="['/connection']">    
    <ion-chip>
      <ion-avatar>
        <ion-img [src]="conexao.foto"></ion-img>
      </ion-avatar>
      <ion-label>{{ conexao.nome }}</ion-label>
    </ion-chip>

    <ion-card-content>
      <ion-label>    
        {{ conexao.texto }}
      </ion-label>    
    </ion-card-content>
  </ion-card>
  
</ion-content>
