.avatar{
    margin: auto;
    width: 150px !important; 
height : 150px !important;   
 }
 .name{
   
    text-align: center;
  }
  .body {
    background-color: #9d9fa6;
  }

  .user {
    background-color: #617cac;
  }